.btn {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.primaryButton {
  background-color: #007bff;
  color: #fff;
}

.secondaryButton {
  background-color: #fff;
  border: 0.063rem solid black;
}

.disabled {
  background-color: #666;
}
