.blogPostList {
  display: grid;
  gap: 1.25rem;
  min-width: 18.75rem;
  padding: 0.625rem;
}

@media (max-width: 768px) {
  .blogPostList {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .blogPostList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .blogPostList {
    grid-template-columns: repeat(3, 1fr);
  }
}
