.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 3rem 1.25rem 1.25rem;
}

@media (max-width: 768px) {
  .main {
    padding: 3rem 0.625rem 0.625rem;
  }
}
