.addBlog {
  padding: 0.625rem;
  display: block;
  text-align: end;
}

.addBlogBtn {
  background-color: #007bff;
  color: #fff;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.blogPostList {
  display: grid;
  gap: 1.25rem;
  min-width: 18.75rem;
  padding: 0.625rem;
}

@media (max-width: 768px) {
  .blogPostList {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .blogPostList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .blogPostList {
    grid-template-columns: repeat(3, 1fr);
  }
}
